<h3>Welcome to FarmVillage</h3>
<p><%= link_to 'Farmers:', farmers_path %> <%= Farmer.count %> registered</p>

<% if @plant and current_farmer %>
  <p> A wild <%= @plant.name %> has appeared!</p>
  <!-- REPLACE THIS LINE BELOW -->
  <%= button_to "Throw a Pokeball!", capture_path(id: @plant), :class => "button medium", :method => :patch %>
<% end %>
