<%= favicon_link_tag 'favicon.ico' %>
<div class="container">
  <div class="col-sm-8">
	<% if !current_farmer %>
	<%= js add_gritter("Click Log In or Sign up to begin.", title:"Welcome to FarmVillage", time: 2000, :nodom_wrap  => true, position:"bottom_left") %>
	<% end %>

	<% if current_farmer and !current_farmer.dolladollabillz %>
	<% current_farmer.dolladollabillz = 20 %>
	<% end %>
	</div>
</div>
