<h3>Welcome to FarmVillage</h3>

test

<% if flash[:notice] %>
<%= js add_gritter(flash[:notice], title:"Plant Ready To Harvest", time: 2000, :nodom_wrap  => true, position:"bottom_right") %>
<% end %>

