<%= favicon_link_tag 'favicon.ico' %>
<div class="container">
  <div class="col-sm-8">
	<% if true %>
	<!-- <%= js add_gritter("Do you have what it takes to be the best farmer?", title:"Welcome to FarmVillage", time: 2000, :nodom_wrap  => true, position:"bottom_left") %> -->
	<% end %>

	<% if current_farmer and !current_farmer.dolladollabillz %>
	<% current_farmer.dolladollabillz = 20 %>
	<% end %>
	</div>
</div>
