<div class="col-sm-8">
  <div id="footer" style="color: black;">
  <medium>
    Created by <a href="http://www.imgion.com/images/01/White-Cute-Puppy-.jpg">Team Precious Caboose</a>
  </medium>
  </div>
</div>