<%# add navigation links to this file %>
<% if farmer_signed_in? %>
  <li><%= link_to edit_farmer_registration_path, class: 'btn btn-standard' do %>Settings<% end %>
</li>
  <li><%= link_to 'Log Out', destroy_farmer_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Log In', new_farmer_session_path %></li>
  <li><%= link_to 'Sign Up', new_farmer_registration_path %></li>
<% end %>
